	/* Theme Settings */
	.content{
		overflow: hidden;
		height: 175px;
		position: relative;
		padding: 10px;
		background: #333;
		margin: 10px auto;
		width: 100%;
	}
	.content li{ margin: 0 4px; }
	.content li a{
		display: block;
		border: 7px solid rgba(255,255,255,.1);
	}
	.content ul{ 
		opacity: 0;
		-webkit-transition: opacity 1s ease-out;
		-moz-transition: opacity 1s ease-out;
		-ms-transition: opacity 1s ease-out;
		-o-transition: opacity 1s ease-out;
		transition: opacity 1s ease-out;
	}
	.content.scroller-ready ul{ opacity: 1; }

	#art-1 .mTSButton{
		background-color: rgba(255,255,255,.7);
		-moz-border-radius: 48px; -webkit-border-radius: 48px; border-radius: 48px;
	}
	#art-1 .mTSButtonLeft{ left: 10px; }
	#art-1 .mTSButtonRight{ right: 10px; }
	
	/* CSS loading spinner (optional) */
	@keyframes spinner{ to {transform: rotate(360deg);} }
	@-webkit-keyframes spinner{ to {-webkit-transform: rotate(360deg);} }
	.spinner{
		min-width: 24px;
		min-height: 24px;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;0
		width: 100%;
	}
	.spinner:before{
		content: 'Loading…';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 32px;
		height: 32px;
		margin-top: -16px;
		margin-left: -16px;
	}
	.spinner:not(:required):before{
		content: '';
		border-radius: 50%;
		border-top: 5px solid #f18e34;
		border-right: 5px solid transparent;
		animation: spinner .6s linear infinite;
		-webkit-animation: spinner .6s linear infinite;
	}
	.content.scroller-ready .spinner{ display: none; }
